<div class="container">
  <div class="card shadow-lg border-0 py-2 bg-body rounded" style="padding: 20px;margin: 10%;">
    <h3>Edytuj dane firmy</h3><br/>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="form-row">
          <div class="form-group col-7">
            <label><b>Logo firmy</b></label>
            <input type="text" class="form-control" placeholder="Logo" [ngClass]="{ 'is-invalid': submitted  }" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-7">
            <label><b>Nazwa firmy</b></label>
            <input type="text" formControlName="companyName" class="form-control" placeholder="Nazwa" [ngClass]="{ 'is-invalid': submitted  }" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-7">
            <label><b>Podstawowa lokalizacja</b></label>
            <input type="text" formControlName="localization" class="form-control" placeholder="Główna siedziba firmy" [ngClass]="{ 'is-invalid': submitted  }" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-7">
            <label><b>Dodaj dodatkową lokalizacja</b></label>
            <input type="text" class="form-control" placeholder="Dodatkowa siedziba" [ngClass]="{ 'is-invalid': submitted  }" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-7">
            <label><b>Krótki opis firmy</b></label>
            <input type="text" formControlName="description" class="form-control" placeholder="Opis działalności" [ngClass]="{ 'is-invalid': submitted}" />
          </div>
        </div>
      </div>
      <div class="form-group" style="text-align: center">
        <div style="width: 50%; text-align: center; margin-left: 25%">
          <button type="submit" class="btn btn-info btn-lg btn-block">Utwórz konto firmy</button>
        </div>
      </div>
    </form>
  </div>
</div>
