<div class="container-fluid ">
  <div class="d-md-inline-flex row justify-content-center">
    <div class="card shadow-lg border-0 py-2">
      <div class="card-header border-0 mb-0">
        <div class="row justify-content-between">
          <div class="col-auto col-sm-auto">
            <h4>
              <div *ngIf="offer.contractType =='Umowa o pracę'">
                <span class="badge badge-pill badge-success">{{offer.contractType}}</span>
              </div>
              <div *ngIf="offer.contractType =='Umowa zlecenie'">
                <span class="badge badge-pill badge-primary">{{offer.contractType}}</span>
              </div>
              <div *ngIf="offer.contractType =='Staż'">
                <span class="badge badge-pill badge-warning">{{offer.contractType}}</span>
              </div>
              <div *ngIf="offer.contractType =='Umowa o dzieło'">
                <span class="badge badge-pill badge-danger">{{offer.contractType}}</span>
              </div>
            </h4>
          </div>
          <div class="col-auto col-sm-auto">
            <div class="row mx-auto pt-2">
              <h6>od {{offer.lowEndPaymentRange}} do {{ offer.highEndPaymentRange }} PLN</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-center pb-0 mt-0 pt-3">
        <div class="d-block">
          <h2 class="card-title mb-0 font-weight-bold">{{offer.positionTitle}}</h2>
        </div>
        <div>
          <hr class="hl">
        </div>

        <div class="row">

          <div class="col-lg">
            <div class="d-block" style="text-align: left">
              <h4 class="card-title mb-0 font-weight-bold">O firmie</h4>
              <h4 class="text-info my-1"> <i class="fa fa-file-code-o small"></i>{{offer.company.companyName}}</h4>
              <article>{{offer.company.description}}</article>
              <br/>
              <p>Lokalizacja: <b>{{offer.company.localization}}</b></p>
            </div>
          </div>

          <div class="col-lg">
            <div class="d-block" style="text-align: right">
              <h4 class="card-title mb-0 font-weight-bold">Wymagania</h4>
              <div class="d-inline-flex row mb-3 " >
                <div class="col-md-auto">
                  <ul class="list-group my-0">
                    <div *ngIf="offer.requirements.length ==0">
                      <li class="list-inline-item"> <span class="badge badge-pill badge-outline ">Brak sprecyzowanych wymagań</span></li>
                    </div>
                    <div *ngFor="let requirement of offer.requirements">
                      <li class="list-inline-item"> <span class="badge badge-pill badge-outline ">{{requirement.name}}</span></li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

        <hr class="hl">
        <div class="d-flex row mb-0">
          <div class="col ">
            <p class="text-muted" style="text-align: center"> {{ offer.positionDescription }}</p>
          </div>
        </div>
      </div>
      <div>
        <hr class="hl">
      </div>
      <div class="card-footer border-0 text-center mx-auto ">
        <h2>
          <a routerLink="/job/{{offer.id}}" class="text-decoration-none" title="Kliknięcie przekieruje cię do procesu rekrutacyjnego"> Aplikuj</a>
        </h2>
      </div>
    </div>
  </div>
</div>
